<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FishWeibo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C413F2E71D9BABEB00C1456A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C413F3031D9BABEB00C1456A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C413F30E1D9BABEB00C1456A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
